@model IEnumerable<BudgetTools.Models.ViewModels.AllocationViewModel>
@{

  var row = Model.GroupBy(g => g.BudgetCategoryName)
    .Select(s => new
    {
      BudgetCategoryName = s.Key,
      PlannedAmount = s.Sum(item => item.PlannedAmount),
      AllocatedAmount = s.Sum(item => item.AllocatedAmount),
      AccruedAmount = s.Sum(item => item.AccruedAmount),
      ActualAmount = s.Sum(item => item.ActualAmount),
      RemainingAmount = s.Sum(item => item.RemainingAmount),
      AccruedBalance = s.Sum(item => item.AccruedBalance)
    })
    .First();

}

    <tr id="tr_@row.BudgetCategoryName" class="budget-summary-row">
      <td id="tr_name_@row.BudgetCategoryName" class="budget-left tcol1">@Html.DisplayFor(model => row.BudgetCategoryName)</td>
      <td id="tr_planned_@row.BudgetCategoryName" class="budget-right tcol2">@Html.FormatValue(row.PlannedAmount, "{0:C}")</td>
      <td id="tr_allocated_@row.BudgetCategoryName" class="budget-right tcol3">@Html.FormatValue(row.AllocatedAmount, "{0:C}")</td>
      <td id="tr_accrued_@row.BudgetCategoryName" class="budget-right tcol4">@Html.FormatValue(row.AccruedAmount, "{0:C}")</td>
      <td id="tr_actual_@row.BudgetCategoryName" class="budget-right tcol5">@Html.FormatValue(row.ActualAmount, "{0:C}")</td>
      <td id="tr_balance_@row.BudgetCategoryName" class="budget-right tcol6">@Html.FormatValue(row.RemainingAmount, "{0:C}")</td>
      <td id="tr_balance_@row.BudgetCategoryName" class="budget-right tcol7">@Html.FormatValue(row.AccruedBalance, "{0:C}")</td>
      <td class="budget-right tcol8"></td>
    </tr>
    @{Html.RenderPartial("_BudgetLine", Model);}


