<div>
  @Html.ActionButton("Import", "Transaction", "SelectFile", new { })
  @Html.ActionButton("Transactions", "Transaction", "Index", new { })
  @Html.ActionButton("Budget", "Budget", "Index", new { })
  @Html.ActionButton("Balances", "Balances", "Index", new { })
  @Html.ActionButton("Transfer", "Transfer", "Index", new { })
  @Html.ActionButton("Categories", "Transaction", "Index", new { })
</div>
